<h3>Welcome</h3>

<p>
<div align="center"><object width="640" height="480">
    <param name="movie" value="<%= asset_path('super-bike-ride.swf') %>">
    <param name="quality" value="high">
    <embed src="<%= asset_path('super-bike-ride.swf') %>" quality="high" width="640" height="400" type="application/x-shockwave-flash" pluginspage= "http://www.macromedia.com/go/getflashplayer">
    </embed>
</object><br/><a href="http://www.knugo.com"><strong>knugo.com</strong></a></div>
<p>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
