<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
<div align="center"><object width="640" height="480"><param name="movie" value="http://www.embedflashgames.org/games/super-bike-ride.swf"><param name="quality" value="high"><embed src="http://www.embedflashgames.org/games/super-bike-ride.swf" quality="high" width="640" height="400" type="application/x-shockwave-flash" pluginspage= "http://www.macromedia.com/go/getflashplayer"></embed></object><br/><a href="http://www.knugo.com"><strong>knugo.com</strong></a></div>
<p>

This web application was created with
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
</p>
